:root {
  --main-bg-color: #000;
  --second-bg-color: #dd0611;
  --second-bg-hover-color: #b3050e;
  --main-color: #fff;
  --error-color: #ffa00a;
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
