/* JAWBONE */

.jaw-bone-content {
  background-color: #141414;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2px;
  padding: 0;
}

.jaw-bone-open-container {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.jaw-bone-container {
  background-color: #000;
  position: relative;
  overflow: hidden;
  outline: none;
  height: 42vw;
}

.jaw-bone-container .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.jaw-bone-container .jaw-bone {
  padding: 18px 0 12px 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.jaw-bone-container .background .nav-shadow {
  height: 114px;
  background: url("https://assets.nflxext.com/en_us/akira/jawBone/nav-shadow.png")
    no-repeat center 100%;
  background-size: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  -webkit-background-size: 100% 114px;
  -moz-background-size: 100% 114px;
  background-size: 100% 114px;
}

.jaw-bone-container .background .vignette::before {
  content: "";
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right, #000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.jaw-bone-container .background .vignette {
  background: #000;
  z-index: 2;
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.jaw-bone-container .jaw-bone-background {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 70%;
}

.jaw-bone-background .image-rotator {
  background-image: url("https://occ-0-2692-360.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABbjjL2qGJzMOn4ll2z_7FUhCpubFddwRSN6LWNoJaRPmP0MQOWOkHy93CT7F8XRvWkBzU9LeQtDmholuBEABQTWJPc5k.jpg?r=1dc");
  z-index: 2;
  opacity: 1;
  transition-duration: 750ms;
  transform: translateZ(0);
  background-position: center 10%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-size: cover;
}

/* JAWBONE INFORMATION */

.jaw-bone-common .metadata {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.1vw;
  height: 1.1vw;
  min-height: 1.1vw;
  line-height: 1.1vw;
}

.jaw-bone-common {
  margin-top: 0.3em;
}

.jaw-bone-common .metadata > span {
  font-weight: bold;
  margin-right: 0.5em;
  margin-bottom: 0.3vw;
}

.jaw-bone-common .metadata .imdb a {
  color: #fff;
  font-size: 2.3vw;
  text-decoration: none;
}

.metadata .maturity-rating {
  text-transform: uppercase;
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  unicode-bidi: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.metadata .score {
  color: #46d369;
}

.jaw-bone-common .synopsis {
  margin: 0.8em 0 0 0;
  width: 50rem;
  max-height: calc(5.5rem * 4);
  color: #999;
  overflow: hidden;
  line-height: 1.2;
}

.jaw-bone-common .synopsis::after {
  content: "...";
  position: relative;
  bottom: 0;
  right: 0;
}

.jaw-bone-common .actions {
  margin: 0.8em 0;
  display: flex;
  align-items: center;
}

.jaw-bone-common .meta-lists {
  margin: 20px 0 0 0;
  width: 45rem;
}

.meta-lists .inline-list {
  font-size: 1.2em;
  color: #828282;
  margin: 2px 0 0 0;
}

.meta-lists .inline-list span {
  color: #828282;
  font-weight: bold;
  margin-right: 5px;
}

.jaw-bone-container .close-button {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3vw;
  padding: 20px 20px 40px 40px;
  z-index: 12;
  cursor: pointer;
  color: #fff;

  transform-origin: 60% 35%;
  background: radial-gradient(
    ellipse at top right,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: 50% -50%;
}

/* JAWBONE MENU */

.ai-content-area-container .menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1vw;
  z-index: 100;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  pointer-events: none;
}

.ai-content-area-container .menu li {
  padding: 1em 1.5em 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #ccc;
  min-width: 5%;
  pointer-events: auto;
}

.ai-content-area-container .menu .menu-button {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: #aaa;
  font-weight: bold;
  text-align: center;
  pointer-events: auto;
  text-decoration: none;
  cursor: pointer;
}

.ai-content-area-container .menu li span {
  height: 0.33em;
  display: block;
  width: 100%;
  margin-top: 0.66em;
}

.ai-content-area-container .menu li.current span {
  transform: translateY(0);
  background-color: #e50914;
}

.background-app {
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jaw-bone-content.open .jaw-bone-open-container {
  opacity: 1;
}

/* jawbone reworked */

.additional-information {
  position: relative;
  height: 37vw;
  margin-top: -40px;
  margin-top: 2px;
  padding: 0;
  background-color: #000;
  transition: height 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    opacity 0.44s cubic-bezier(0.5, 0, 0.1, 1) 0.1s;
}

.ai-background,
.ai-background-shadow,
.ai-background-image,
.ai-content-area {
  position: absolute;
  top: 0;
  bottom: 0;
}

.ai-background {
  left: 0;
  right: 0;

  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.ai-background-shadow {
  left: 0;
  background: #000;
  width: 30%;
  z-index: 2;
}

.ai-background.dim {
  opacity: 0.2;
}

.ai-background-shadow:before {
  content: "";
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right, #000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.ai-background-image {
  right: 0;
  width: 70%;
  height: 100%;
  background-position: center 10%;
  background-size: cover;
  z-index: 1;
}

.ai-background-area {
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.ai-background-nav-shadow {
  height: 114px;
  background: url("https://assets.nflxext.com/en_us/akira/jawBone/nav-shadow.png")
    no-repeat center 100%;
  background-size: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: 100% 114px;
}

.ai-close-button {
  color: #fff;
  width: 40px;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 2vw;
  z-index: 12;
}

.ai-close-button:hover {
  color: #e50914;
}

.ai-content-area {
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.ai-content-area-container {
  padding: 18px 0 12px 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.ai-content-area-container h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.ai-content-area-container h3 div {
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 1.3;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  color: #fff;
  height: 5vw;
  font-size: 3vw;
  width: 50vw;
}

.ai-content-area-container h3 div img {
  height: 7vw;
  transform-origin: 0 0;
}
