.favourite-list {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  min-height: 100vh;

  .container-favouritelist {
    position: relative;
    min-height: calc(100vh - 70px - 256px);

    .header-favourite {
      font-size: 2.8rem;
      padding: 100px 60px 0px 60px;
    }

    .delete-all {
      position: absolute;
      top: 130px;
      right: 70px;
      background-color: #000;
      border: 1px solid rgba(255, 255, 255, 0.9);
      color: rgba(255, 255, 255, 0.9);
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
