.episode {
  padding: 1em 0;

  a {
    color: #fff;
    text-decoration: none;
  }
  .epsiode-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 20px;

    .button-dropdown {
      font-size: 12px;
      font-weight: 600;
      position: relative;
      z-index: 1;
      .dropdown-toggle {
        display: flex;
        align-items: center;
        min-width: 4em;
        position: relative;
        font-size: 1.5em;
        background-color: rgb(36, 36, 36);
        padding: 0.5em 1em;
        color: #fff;
        cursor: pointer;
        border: 0.1em solid rgb(77, 77, 77);
        border-radius: 0.2em;

        &::after {
          content: "";
          border-left: 0.3em solid transparent;
          border-right: 0.3em solid transparent;
          border-top: 0.4em solid rgb(255, 255, 255);
          transition: transform 0.2s linear 0s;
          margin-left: 2em;
          transform: none;
        }
      }

      .rotate {
        &::after {
          transform: rotate(180deg) !important;
        }
      }

      .dropdown-menu {
        min-width: 4em;
        position: absolute;
        right: 0px;
        cursor: pointer;
        color: #fff;
        list-style-type: none;
        border: 0.1em solid rgb(77, 77, 77);
        margin-top: 0.1em;
        font-size: 1.5em;
        z-index: 1;
        background-color: rgb(36, 36, 36);
        white-space: nowrap;
        column-gap: 1.8em;
        max-height: max(10em, 347.475px - 2rem);
        overflow: auto;
        padding: 1rem 0px;

        .dropdown-item {
          min-width: 4em;
          padding: 0.5em 0.8em;
          display: block;
          break-inside: avoid;

          &:hover {
            background-color: rgb(66, 66, 66);
          }

          .dropdown-item-length {
            font-size: 14px;
            font-weight: 400;
          }
        }
        .breaker {
          margin: 0.5rem 0.8em;
          border: 1px solid rgb(77, 77, 77);
          background-color: rgb(77, 77, 77);
        }
      }
    }
  }
  .episode-container {
    .epsiode-all-episodes {
      &:first-child {
        border-top: 1px solid #404040;
        padding-top: 10px;
      }
      margin: 30px 0px;
    }
  }
}
