.watch {
  width: 100vw;
  height: 100vh;
  position: relative;

  .back {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: all 0.2s ease-in;

    div {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 2rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  .video {
    position: absolute;
    z-index: 10;
  }
}
